.gridContParent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.gridContainer{
    display: flex;
    flex-wrap: wrap;
    height: 592px;
    width: 592px;
    border: 2px solid black;
}

.square{
    width: 35px;
    height: 35px;
    border: 1px solid white;
}

.gridSizeBtn{
    margin-bottom: 20px;
    height: 75px;
    width: 200px;
    font-size: 30px;
}